body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  width: 80%;
  max-width: 800px;
}

.card {
  background: white;
  display: grid;
  grid-template-rows: 200px auto 1fr auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}



.part1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1;
    gap: 20px;
    
}
.part2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 2;
    gap: 20px;
}

.spa{
    grid-column: span 2;
}

.spa .img{
    height: 200px;
    width: auto;
    background-color: rgb(91, 88, 88);
}

.nor .img{
    height: 200px;
    width: auto;
    background-color: rgb(201, 196, 196);
}