*{
    margin: 0;
}

body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: 200px 1fr;
    gap: 5px;
    width: 100%;
    height: 100vh;
    
}

.item{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.a{
    grid-column: 1;
    grid-row: 1 / span 2;
}

.b{
    grid-column: 2;
    grid-row: 1 ;
}
.c{
    grid-column: 2;
    grid-row: 2 ;
}
.d{
    grid-column: 3;
    grid-row: 1 ;
}
.e{
    grid-column: 3;
    grid-row: 2 ;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 120px auto auto auto;
    }

    .a{
        grid-row: 1/5;
    }

    .d, .e {
        grid-column: 2;
    }

    .d { grid-row: 3; }
    .e { grid-row: 4; }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto auto auto;
    }

    .a, .b, .c, .d, .e {
        grid-column: 1;
        grid-row: auto;
    }

    
}