body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 150px);
  gap: 20px;
  width: 80%;
  max-width: 800px;
}

.item {
  background: #3498db;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}


.a {
  grid-column: 1 / span 3;
}

.b {
  grid-row: 2 / span 2;
}

.c {
  grid-column: 2;
  grid-row: 2;
}

.d {
  grid-column: 3;
  grid-row: 2;
}

.e {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.f {
  grid-column: 1 / span 3;
  grid-row: 4;
}
